# =========================
# Environment
# =========================
.env*
!.env.example

# =========================
# Private Files
# =========================
private/

# =========================
# Dependencies
# =========================
**/node_modules/

# =========================
# Next.js
# =========================
**/.next/
**/out/

# =========================
# Build
# =========================
**/dist/
**/build/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/settings.json
.idea/

# =========================
# Coverage
# =========================
coverage/

# =========================
# TypeScript
# =========================
*.tsbuildinfo